body {
    background-color: #141414;
    color: #e6e6e6 !important;
}

h1 {
    color: white;
}

p {
    color: white;
}

text {
    color: white;
}

.searchBar {
    background-color: transparent !important;
    border-color: #595959 !important;
}

.searchBar::placeholder {
    color: #595959;
}

img.poster {
    cursor: pointer;
    height: 280px;
}

.posterContainer {
    float: left;
    margin-right: 20px;
    width: 190px;
}

.title {
    border: 1px solid lightslategrey;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    min-height: 360px;
    padding: 10px;
    border-color: #404040 !important;
}

.modal-content {
    background-color: #141414;
}

.custom-control-label::before {
    background-color: #141414;
}

.input-group-text {
    background-color: #333333;
    color: white;
    border: #333;
}

.form-control {
    background-color: #444;
    border: #444;
    color: white;
}

.form-control:focus {
    background-color: #444;
    border: #444;
    color: white;
}