body {
    background-color: #141414;
    color: #e6e6e6 !important;
    background-image: url("background.png");
    background-repeat: repeat-y;
}

h1 {
    color: white;
}

p {
    color: white;
}

text {
    color: white;
}

.searchBar {
    background-color: transparent !important;
    border-color: #595959 !important;
}

.searchBar::placeholder {
    color: #595959;
}

img.poster {
    cursor: pointer;
    height: 280px;
}

.posterContainer {
    float: left;
    margin-right: 20px;
    width: 190px;
}

.title {
    border: 1px solid lightslategrey;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    min-height: 360px;
    padding: 10px;
    border-color: #404040 !important;
}

.modal-content {
    background-color: #141414;
}

.custom-control-label::before {
    background-color: #141414;
}

.input-group-text {
    background-color: #333333;
    color: white;
    border: #333;
}

.form-control {
    background-color: #444;
    border: #444;
    color: white;
}

.form-control:focus {
    background-color: #444;
    border: #444;
    color: white;
}

.searchButton {
    background-color: #333333 !important;
    color: white;
    border: #333 !important;
}

.filter-row {
    padding-bottom: 15px;
}

.sort-custom-select {
    display: inline-block;
    width: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    vertical-align: middle;
    background: #333;
    border: #333;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-light {
    background-color: #333333 !important;
    color: white;
    border: #333 !important;
}

.dropdown-menu {
    background-color: #333333 !important;
    color: white;
    border: #333 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #555;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: white;
}